cmakeconfig.h
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
CMakeCache.txt
Makefile
install_manifest.txt

.libs
.deps
.dirstamp
*.status
*.log
*.o
*.Po
*.lo
*.la
*.so
*.a
*.guess
*.sub
*.lock

.svn

*~
\#*
.\#*